<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/core-pages/core-pages.html">
<link rel="import" href="../bower_components/core-ajax/core-ajax.html">
<link rel="import" href="../bower_components/core-toolbar/core-toolbar.html">
<link rel="import" href="../bower_components/core-scaffold/core-scaffold.html">
<link rel="import" href="../bower_components/core-header-panel/core-header-panel.html">
<link rel="import" href="../bower_components/core-animated-pages/core-animated-pages.html">
<link rel="import" href="../bower_components/core-animated-pages/transitions/slide-from-right.html">
<link rel="import" href="../bower_components/paper-menu-button/paper-menu-button.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-dropdown/paper-dropdown.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/core-menu/core-menu.html">
<link rel="import" href="../bower_components/core-item/core-item.html">
<link rel="import" href="../bower_components/paper-shadow/paper-shadow.html">
<link rel="import" href="../bower_components/font-roboto/roboto.html">
<link rel="import" href="../bower_components/firebase-element/firebase-element.html">
<link rel="import" href="../bower_components/firebase-element/firebase-login.html">
<link rel="import" href="../bower_components/flatiron-director/flatiron-director.html">

<!-- NOTE: the presence of this plugin on the page with Firefox + Ad Block Plus plugin
     will cause the entire page to not load.-->
<link rel="import" href="../bower_components/core-icons/social-icons.html">

<!-- Add custom elements here -->
<!--
<link rel="import" href="speakur-globals.html">
-->
<link rel="import" href="../bower_components/pvc-globals/pvc-globals.html">

<link rel="import" href="speakur-config.html">
<link rel="import" href="speakur-profile.html">
<link rel="import" href="dialogs/login.html">
