<link rel="import" href="../bower_components/polymer/polymer.html">
<polymer-element name="speakur-config">
  <script>
    (function() {
      // these variables are shared by all instances of app-globals
      var firebaseSite = 'speakur';

      Polymer({
        ready: function() {
          // copy global values into instance properties
          // this.fbSite= firebaseSite;
          this.fbloc = "https://" + firebaseSite + ".firebaseio.com";
        }
    });
    })();
  </script>
</polymer-element>
