body {
  font-family: "RobotoDraft", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

core-animated-pages {
  border: none;
  border-radius: 5px;
  transform: translateZ(0);
  width: 85%;
  height: 85%;
  -webkit-user-select: none;
  overflow: hidden;
}

core-animated-pages > * {
  border-radius: 5px;
  /*font-size: 50px;*/
  background-color: white;
}

body /deep/ core-toolbar {
  background-color: #03a9f4;
  color: #fff;
}

core-menu {
  color: #01579b;
  margin: 10px 0 0 0;
}

core-menu > paper-item {
  transition: all 300ms ease-in-out;
}

core-menu > paper-item.core-selected {
  background: #e1f5fe;
}

core-menu .core-menu-bottom {
  margin-bottom: 2em;
}

@media all and (max-width: 480px) {
  core-animated-pages {
    width: 100%;
    height: 100%;
  }
  .paper-shadow  {
    display: none;
  }
  core-pages {
    width: 100%;
    height: 100%;
  }
  core-pages > div {
    transition: none;
  }
}
