<!doctype html>
<!--
Copyright 2015 Preston Landers. All rights reserved.
Use of this source code is governed by a BSD-style
license that can be found in the LICENSE file.
-->
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Speakur by Preston Landers</title>
  <meta name="description" content="Forum and chat software written in Polymer">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">

  <!-- build:css styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild-->

  <script src="bower_components/webcomponentsjs/webcomponents.js"></script>

  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>

  <!-- build:vulcanized elements/elements.vulcanized.html -->
  <link rel="import" href="elements/elements.html">
  <!-- endbuild-->
</head>

<body unresolved fullbleed>

<template is="auto-binding">

  <firebase-login id="baseLogin" user="{{user}}" statusKnown="{{statusKnown}}" location="{{globals.config.fbloc}}"
                  provider="google" on-login="{{onLogin}}" on-error="{{onLoginError}}"></firebase-login>
  <pvc-globals id="speakurGlobals" values="{{globals}}"></pvc-globals>
  <speakur-config id="speakurConfig"></speakur-config>
  <speakur-profile id="speakurProfile"></speakur-profile>

  <flatiron-director route="{{route}}" autoHash
                     on-director-route="{{routeChanged}}"></flatiron-director>

  <!-- Keyboard nav controller. -->
<!--
  <core-a11y-keys id="speakur-keys" target="{{parentElement}}"
                  keys="up down left right space space+shift"
                  on-keys-pressed="{{keyHandler}}"></core-a11y-keys>
-->

  <core-ajax id="speakur-ajax" auto url="{{selectedPage.page.url}}"
             handleAs="document" on-core-response="{{onResponse}}">
  </core-ajax>

  <core-scaffold id="speakur-scaffold" fit>

    <core-header-panel navigation mode="seamed" flex>
      <core-toolbar id="navheader">
        <span>Speakur</span>
      </core-toolbar>
      <core-menu on-click="{{ajaxLoad}}"
                 selected="{{route}}" selectedModel="{{selectedPage}}"
                 valueattr="hash"
                 fit
                 layout vertical
                 on-core-select="{{menuItemSelected}}">
        <template repeat="{{page, i in pages}}">

          <div flex?="{{page.bottom}}"></div>
          <paper-item noink hash="{{page.hash}}" class="{{ {'core-menu-bottom' : page.bottom } | tokenList }}">
            <core-item
              icon="label{{route != page.hash ? '-outline' : ''}}"
              label="{{page.name}}"
              active?="{{route == page.hash}}"
              >
              <a href="#{{page.hash}}"></a>
            </core-item>
          </paper-item>

        </template>
      </core-menu>
    </core-header-panel>

    <core-toolbar tool flex>
      <div flex>{{selectedPage.page.name}}</div>
      <paper-menu-button halign="right">
        <template if="{{user}}">{{user.username}}</template>
        <paper-icon-button icon="social:person"></paper-icon-button>
        <paper-dropdown class="dropdown" transition="">
          <core-menu class="menu">
            <paper-item on-click="{{login}}" hidden?="{{!statusKnown || user}}">Login</paper-item>
            <paper-item on-click="{{logout}}" hidden?="{{!statusKnown || !user}}">Logout</paper-item>
          </core-menu>
        </paper-dropdown>

      </paper-menu-button>
      <paper-menu-button>
        <paper-icon-button icon="refresh"></paper-icon-button>
      </paper-menu-button>
      <paper-menu-button>
        <paper-icon-button icon="add"></paper-icon-button>
      </paper-menu-button>
    </core-toolbar>

    <!--style="overflow-x: hidden;"-->
    <div layout horizontal center center-justified fit class="content">
      <core-animated-pages id="speakur-pages" selected="{{route}}"
                           valueattr="hash"
                           transitions="slide-from-right"
                           on-tap="{{cyclePages}}">
        <template repeat="{{page, i in pages}}">
          <section hash="{{page.hash}}" layout vertical center-center>
            <div id="page-content">
              <div style="max-width:100%;">Loading...</div>
            </div>
          </section>
        </template>

      </core-animated-pages>

      <!--
              <core-pages selected="{{route}}" valueattr="hash">
                <template repeat="{{page, i in pages}}">
                  <div hash="{{page.hash}}">
                    <paper-shadow z="2"></paper-shadow>
                    {{page.name}}
                  </div>
                </template>
              </core-pages>
      -->

    </div>
  </core-scaffold>

  <speakur-dialog-login id="speakurLoginDialog" baseLogin="{{$.baseLogin}}" ></speakur-dialog-login>

</template>

<!-- build:js scripts/app.js -->
<script src="scripts/app.js"></script>
<!-- endbuild-->

<!-- build:js scripts/vendor/md5.js -->
<script src="scripts/vendor/md5.js"></script>
<!-- endbuild-->

<!--

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '375486232657291',
      xfbml      : true,
      version    : 'v2.2'
    });
  };

  (function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
-->

<!--
<script>  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-58412974-1', 'auto');  ga('send', 'pageview');
</script>
-->

</body>
</html>
