<h1>
  Speakur
</h1>

<div>

  <div hidden?="{{globals.currentUser}}">
    <P>
      Welcome to Speakur. You can do anything at Speakur. Please sign in with your Facebook or Google account to access
      Speakur. You will be able to change your displayed name at any time.
    </P>
    <paper-button on-click="{{login}}">
      Sign in now!
    </paper-button>
  </div>
  <div hidden?="{{!globals.currentUser}}">
    <P>
      Welcome back, {{globals.profile.fullname}}.
    </P>
    <P>
      Prepare for the infinite.
    </P>

    <speakur-discussion>

    </speakur-discussion>

  </div>

</div>

<P>
  This is another part.
</P>
