<h1>
  Settings
</h1>

<div>
  <div hidden?="{{globals.currentUser}}">
    <P>
      You are not signed in. Please sign in to adjust your settings or public profile.
    </P>
    <paper-button on-click="{{login}}">
      Sign in now!
    </paper-button>
  </div>
  <div hidden?="{{!globals.currentUser}}">
    <P>
      Welcome back, {{globals.profile.fullname}}. This is your settings page.
    </P>

    <form>
      <div class="form-group">
        <div>
          <label for="profile-username">
            Public user name:
          </label>
          <input id="profile-username" type="text" value="{{globals.profile.username}}"
            class="form-control">
        </div>
      </div>

      <div class="form-group">
        <div>
          <label for="profile-fullname">
            Real name (private):
          </label>
          <input id="profile-fullname" type="text" value="{{globals.profile.fullname}}"
            class="form-control">
        </div>
      </div>

      <div class="form-group">
        <div >
          <label for="profile-email">
            Email (private):
          </label>
          <input id="profile-email" type="text" value="{{globals.profile.email}}" class="form-control">
        </div>
      </div>


    </form>
  </div>

</div>
