<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/core-icon/core-icon.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-action-dialog.html">

<polymer-element name="speakur-dialog-login" attributes="baseLogin">
  <style>
    #login-dialog {
      max-width: 1000px;
    }
  </style>
  <template>
    <paper-action-dialog id="login-dialog" heading="Sign in to Speakur"
                         transition="paper-dialog-transition-bottom">
      <p>Please sign in to Speakur with one of the following identities. In the future
        you will be able to create an account unique to Speakur but for now you must
        use one of the following identity services. You can only be signed in with one
        service at a time.</p>
      <paper-button dismissive>
        <core-icon icon="cancel"></core-icon>
        Cancel (Do not login)
      </paper-button>
      <paper-button affirmative autofocus default on-tap="{{loginFacebook}}">
        <core-icon icon="social:post-facebook"></core-icon>
        Sign in with Facebook
      </paper-button>
      <paper-button affirmative on-tap="{{loginGoogle}}">
        <core-icon icon="social:post-gplus"></core-icon>
        Sign in with Google
      </paper-button>
    </paper-action-dialog>
  </template>
  <script>
    (function () {
      Polymer({
        toggle: function () {
          this.$["login-dialog"].toggle();
        },
        loginGoogle: function () {
          console.log('LOGIN with Google!');
          this.baseLogin.provider = 'google';
          this.baseLogin.login({
            remember: "default",
            scope: "email"
          });
        },

        loginFacebook: function () {
          console.log('LOGIN with Facebook!');
          this.baseLogin.provider = 'facebook';
          this.baseLogin.login({
            remember: "default",
            scope: "email"
          });
        }

        // TODO: reflect 'opened' as a property?  Or provide a closeIfOpen method?

      });
    })();
  </script>
</polymer-element>
